In [1]:
# Dependencies
import pandas as pd

# Save path to data set in a variable
file = "Resources/purchase_data.csv"

# Use Pandas to read data
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Total Number of Players
players = purchase_data["SN"].unique()
players_count = len(players)

pCount_table = pd.DataFrame({"Total Players": [players_count]})
pCount_table

   Total Players
0            576

In [3]:
### Purchasing Analysis (Total)
#Number of Unique Items
items_count = len(purchase_data["Item ID"].unique())

# Average Purchase Price
avg_price = purchase_data["Price"].mean()

# Total Number of Purchases
num_purchases = len(purchase_data["Price"])

# Total Revenue
total_revenue = purchase_data["Price"].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items" : [items_count],
                                    "Average Price" : [avg_price],
                                    "Number of Purchases" : [num_purchases],
                                    "Total Revenue" : [total_revenue]})
purchasing_analysis = purchasing_analysis.round(2)

purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${0:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${0:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [4]:
### Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

gender_info = purchase_data.loc[:, ("SN", "Gender")]

gender_info.drop_duplicates(subset = ["SN"], keep = "last", inplace = True)

gender_counts = gender_info.groupby("Gender").size().reset_index(name='Total Count')
gender_percent = (gender_counts["Total Count"]/players_count)*100
gender_counts["Percentage of Players"] = gender_percent.map("{0:,.2f}%".format)

gender_counts = gender_counts.set_index("Gender")
gender_counts

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [5]:
#delete this later, it is for reference now
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#This section needs work still*******************

### Purchasing Analysis (Gender)

##The below each broken by gender
  #Purchase Count
  #Average Purchase Price
  #Total Purchase Value
  #Average Purchase Total per Person by Gender

fPurchase = purchase_data.loc[purchase_data["Gender"] == "Female", :]
fPurchase_count = len(fPurchase)
fPurchase_avg_price = fPurchase["Price"].mean()
fPurchase_total = fPurchase["Price"].sum()
fPurchase_avg_total = fPurchase_total/fPurchase_count

mPurchase = purchase_data.loc[purchase_data["Gender"] == "Male", :]
mPurchase_count = len(mPurchase)
mPurchase_avg_price = mPurchase["Price"].mean()
mPurchase_total = mPurchase["Price"].sum()
mPurchase_avg_total = mPurchase_total/mPurchase_count

oPurchase = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
oPurchase_count = len(oPurchase)
oPurchase_avg_price = oPurchase["Price"].mean()
oPurchase_total = oPurchase["Price"].sum()
oPurchase_avg_total = oPurchase_total/oPurchase_count

In [7]:
gender_purchases = purchase_data.set_index("Gender")
gender_purchases.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44

In [17]:
purchases_by_gender = purchase_data["Gender"].value_counts()
print(purchases_by_gender)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [25]:
gender_purchases_df = pd.DataFrame(purchases_by_gender)
gender_purchases_df.head()

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [26]:
gender_purchases_df = gender_purchases_df.rename(
    columns={"Gender" : "Total Purchases"})
gender_purchases_df.head()

                       Total Purchases
Male                               652
Female                             113
Other / Non-Disclosed               15

In [22]:
#gender_purchases["Average Purchase Price"] = fPurchase_avg_price
#gender_purchases.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price,Average Purchase Price
Gender,,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53,3.203009
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56,3.203009
Male,2,Ithergue48,24,92,Final Critic,4.88,3.203009
Male,3,Chamassasya86,24,100,Blindscythe,3.27,3.203009
Male,4,Iskosia90,23,131,Fury,1.44,3.203009

In [19]:
gender_pInfo = gender_purchases.groupby(["Gender"]).size().reset_index(name='Purchase Count')
gender_pInfo.head()

                  Gender  Purchase Count
0                 Female             113
1                   Male             652
2  Other / Non-Disclosed              15