In [2]:
# Dependencies
import pandas as pd

# Save path to data set in a variable
file = "Resources/purchase_data.csv"

# Use Pandas to read data
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [26]:
#Numeric columns only, delete this later
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [25]:
#Total Number of Players
players_count = len(purchase_data["SN"].unique())

df_players = pd.DataFrame(players_count)
df_players.head()

ValueError: DataFrame constructor not properly called!

In [23]:
### Purchasing Analysis (Total)
#Number of Unique Items
items_count = len(purchase_data["Item ID"].unique())

# Average Purchase Price
avg_price = purchase_data["Price"].mean()

# Total Number of Purchases
num_purchases = len(purchase_data["Price"])

# Total Revenue
total_revenue = purchase_data["Price"].sum()

183 3.050987179487176 780 2379.77

In [ ]:
### Gender Demographics
# Percentage and Count of Male Players
males_count = 
males_percent = 

# Percentage and Count of Female Players


# Percentage and Count of Other / Non-Disclosed